* {
   box-sizing: border-box;
}

body {
    font-family: Georgia;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1119;
    z-index: 6000000;
}

.big_disks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.big_disk {
    position: relative;
    width: 10%;
}

.big_disk::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 5px 1px;
}

.big_disk:hover::before {
    content: "";
    display: block;
    position: absolute;
    background: #6de66d;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 60px;
    height: 60px;
}

.board {
    background: radial-gradient(#429e42, #214e21);
    border: solid 3px;
    display: flex;
    flex-wrap: wrap;
    width: 75vh;
    height: 75vh;
    margin: 0 auto;
}

.cell-container {
    position: relative;
    width: 12.5%;
    border: solid 1px;
}

.cell-container::before {
    content:"";
    display: block;
    padding-top: 100%;
}

.cell {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cell:hover {
    background: #6de66d;
}

.movable::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    width: 10%;
    height: 10%;
    background: #6de66d;
}

.disk::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    width: 90%;
    height: 90%;
    box-shadow: 0 0 5px 1px;
}

.black::after {
    background: radial-gradient(#333, #000);
}

.white::after {
    background: radial-gradient(#fff, #ccc);
}

.info {
    display: flex;
    width: 100%;
    margin-top: 3vh;
}

.player {
    position: relative;
    flex: 2;
}

.clear-fix:after {
    content: "";
    display: block;
    clear: both;
}

.mini_disk {
    position: absolute;
    left: 60%;
}

.mini_disk::after {
    content: "";
    display: block;
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0 0 5px 1px;
}

.result {
    flex: 1;
    text-align: right;
}

.win {
    background: -webkit-linear-gradient(top, #d00 0%, #500 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.lose {
    background: -webkit-linear-gradient(top, #00d 0%, #005 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}