* {
   box-sizing: border-box;
}

body {
    font-family: Georgia;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #fafdff;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1119;
    z-index: 6000000;
}

.modal_inner {
    height: 100vmin;
    position: relative;
}

.choose_box {
    height: 30%;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #469646e6;
    padding: 2%;
    border: #000 2px solid;
    border-radius: 15px;
}

.choose_box p {
    font-size: 2rem;
    position: absolute;
    top: 10%;
}

.choose_level {
    position: relative;
}

.choose_level > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 70px 10px 30px;
    cursor: pointer;
    background: #fff;
}

.choose_level_icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #000;
    pointer-events: none;
}

select::-ms-expand {
    display: none;
}

.big_disk {
    position: relative;
    bottom: 20%;
    width: 20%;
    cursor: pointer;
    transition-duration: 0.3s;
    margin: 0px 5%;
}

.big_disk::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    width: 9vmin;
    height: 9vmin;
    box-shadow: 0 0 5px 1px;
}

.big_disk:hover {
    transform: translatey(-10px);
}

.board {
    background: radial-gradient(#429e42, #214e21);
    border: solid 3px;
    display: flex;
    flex-wrap: wrap;
    width: 80vmin;
    height: 80vmin;
    margin: 7vmin auto;
    position: relative;
}

.cell-container {
    position: relative;
    width: 12.5%;
    border: solid 1px;
}

.cell-container::before {
    content:"";
    display: block;
    padding-top: 100%;
}

.cell {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cell:hover {
    background: #6de66d;
}

.movable {
    cursor: pointer;
}

.movable::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    width: 10%;
    height: 10%;
    background: #6de66d;
}

.disk::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    width: 90%;
    height: 90%;
    box-shadow: 0 0 5px 1px;
}

.black::after {
    background: radial-gradient(#333, #000);
}

.white::after {
    background: radial-gradient(#fff, #ccc);
}

.source {
    position: absolute;
    right: 0;
    transform: translateY(-120%);
    transition-duration: .1s;
}

.source:hover {
    opacity: .6;
}

.loading {
    display: none;
    position: fixed;
    top: 44vmin;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6000001;
    font-size: 1.8rem;
    color: #222;
    text-shadow:0px 0px 1px #fff;
}

.info {
    display: flex;
    width: 100%;
    margin-top: 3vmin;
}

.player {
    position: relative;
    flex: 2;
    font-size: 2rem;
    color: #222;
}

.clear-fix:after {
    content: "";
    display: block;
    clear: both;
}

.mini_disk {
    position: absolute;
    left: 70%;
}

.mini_disk::after {
    content: "";
    display: block;
    position: absolute;
    left: -9vmin;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 6vmin;
    height: 6vmin;
    box-shadow: 0 0 5px 1px;
}

.result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: none;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    line-height: 1.5;
}

.retry {
    cursor: pointer;
    transition-duration: .9s;
}

.retry:hover {
    transform: rotate(90deg);
}