* {
   box-sizing: border-box;
}

body {
    font-family: Georgia;
    height: 100%;
    width: 100%;
    position: absolute;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1119;
    z-index: 6000000;
}

.modal_inner {
    height: 100vmin;
    position: relative;
}

.choose_disk {
    height: 40%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #6de66de6;
    padding: 7%;
    border: #000 2px solid;
    border-radius: 15px;
}

.choose_disk p {
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 10%;
}

.big_disk {
    position: relative;
    width: 20%;
    cursor: pointer;
    transition-duration: 0.3s;
    margin: 0 30px;
}

.big_disk::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    width: 7vmin;
    height: 7vmin;
    box-shadow: 0 0 5px 1px;
}

.big_disk:hover {
    transform: translatey(-10px);
}

.board {
    background: radial-gradient(#429e42, #214e21);
    border: solid 3px;
    display: flex;
    flex-wrap: wrap;
    width: 80vmin;
    height: 80vmin;
    margin: 7vmin auto;
}

.cell-container {
    position: relative;
    width: 12.5%;
    border: solid 1px;
}

.cell-container::before {
    content:"";
    display: block;
    padding-top: 100%;
}

.cell {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cell:hover {
    background: #6de66d;
}

.movable::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    width: 10%;
    height: 10%;
    background: #6de66d;
}

.disk::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    width: 90%;
    height: 90%;
    box-shadow: 0 0 5px 1px;
}

.black::after {
    background: radial-gradient(#333, #000);
}

.white::after {
    background: radial-gradient(#fff, #ccc);
}

.info {
    display: flex;
    width: 100%;
    margin-top: 3vmin;
}

.player {
    position: relative;
    flex: 2;
    font-size: 3rem;
}

.clear-fix:after {
    content: "";
    display: block;
    clear: both;
}

.mini_disk {
    position: absolute;
    left: 70%;
}

.mini_disk::after {
    content: "";
    display: block;
    position: absolute;
    left: -9vmin;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 7vmin;
    height: 7vmin;
    box-shadow: 0 0 5px 1px;
}

.result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: none;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    line-height: 1.5;
}

.retry {
    cursor: pointer;
    transition-duration: .9s;
}

.retry:hover {
    transform: rotate(90deg);
}